nodered-flow.json
[{"id":"tab1","type":"tab","label":"LED Matrix"},{"id":"n1","type":"inject","z":"tab1","name":"Text statisch","props":[{"p":"payload"}],"payload":"{\"type\":\"text\",\"text\":\"Hallo\",\"color\":\"#00CCFF\"}","payloadType":"json","x":150,"y":80,"wires":[["req1"]]},{"id":"n2","type":"inject","z":"tab1","name":"Text scroll","props":[{"p":"payload"}],"payload":"{\"type\":\"text\",\"text\":\"Willkommen!\",\"scroll\":true,\"speed\":40,\"color\":\"#FF8800\"}","payloadType":"json","x":150,"y":140,"wires":[["req1"]]},{"id":"n3","type":"inject","z":"tab1","name":"rainbow","props":[{"p":"payload"}],"payload":"{\"type\":\"animation\",\"name\":\"rainbow\"}","payloadType":"json","x":150,"y":220,"wires":[["req1"]]},{"id":"n4","type":"inject","z":"tab1","name":"fire","props":[{"p":"payload"}],"payload":"{\"type\":\"animation\",\"name\":\"fire\"}","payloadType":"json","x":150,"y":280,"wires":[["req1"]]},{"id":"n5","type":"inject","z":"tab1","name":"clock","props":[{"p":"payload"}],"payload":"{\"type\":\"animation\",\"name\":\"clock\"}","payloadType":"json","x":150,"y":340,"wires":[["req1"]]},{"id":"n6","type":"inject","z":"tab1","name":"matrix_rain","props":[{"p":"payload"}],"payload":"{\"type\":\"animation\",\"name\":\"matrix_rain\"}","payloadType":"json","x":150,"y":400,"wires":[["req1"]]},{"id":"n7","type":"inject","z":"tab1","name":"plasma","props":[{"p":"payload"}],"payload":"{\"type\":\"animation\",\"name\":\"plasma\"}","payloadType":"json","x":150,"y":460,"wires":[["req1"]]},{"id":"n8","type":"inject","z":"tab1","name":"starfield","props":[{"p":"payload"}],"payload":"{\"type\":\"animation\",\"name\":\"starfield\"}","payloadType":"json","x":150,"y":520,"wires":[["req1"]]},{"id":"n9","type":"inject","z":"tab1","name":"bouncing_ball","props":[{"p":"payload"}],"payload":"{\"type\":\"animation\",\"name\":\"bouncing_ball\"}","payloadType":"json","x":150,"y":580,"wires":[["req1"]]},{"id":"n10","type":"inject","z":"tab1","name":"color_pulse","props":[{"p":"payload"}],"payload":"{\"type\":\"animation\",\"name\":\"color_pulse\"}","payloadType":"json","x":150,"y":640,"wires":[["req1"]]},{"id":"n11","type":"inject","z":"tab1","name":"clear","props":[{"p":"payload"}],"payload":"{}","payloadType":"json","x":150,"y":720,"wires":[["req2"]]},{"id":"n12","type":"inject","z":"tab1","name":"brightness 50","props":[{"p":"payload"}],"payload":"{\"value\":50}","payloadType":"json","x":150,"y":780,"wires":[["req3"]]},{"id":"n13","type":"inject","z":"tab1","name":"status","props":[{"p":"payload"}],"payload":"{}","payloadType":"json","x":150,"y":840,"wires":[["req4"]]},{"id":"req1","type":"http request","z":"tab1","name":"POST /display","method":"POST","ret":"obj","url":"http://100.64.0.22:5050/display","x":430,"y":400,"wires":[["dbg"]]},{"id":"req2","type":"http request","z":"tab1","name":"POST /clear","method":"POST","ret":"obj","url":"http://100.64.0.22:5050/clear","x":430,"y":720,"wires":[["dbg"]]},{"id":"req3","type":"http request","z":"tab1","name":"POST /brightness","method":"POST","ret":"obj","url":"http://100.64.0.22:5050/brightness","x":430,"y":780,"wires":[["dbg"]]},{"id":"req4","type":"http request","z":"tab1","name":"GET /status","method":"GET","ret":"obj","url":"http://100.64.0.22:5050/status","x":430,"y":840,"wires":[["dbg"]]},{"id":"dbg","type":"debug","z":"tab1","name":"","active":true,"tosidebar":true,"complete":"payload","x":650,"y":580,"wires":[]}]
